[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/hugo-theme-texify"]
	path = themes/hugo-theme-texify
	url = https://github.com/queensferryme/hugo-theme-texify.git
[submodule "themes/themes/hugo-theme-texify"]
	path = themes/themes/hugo-theme-texify
	url = https://github.com/queensferryme/hugo-theme-texify.git
